.Home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
}

.Home__button-container {
    display: block;
    text-align: center;
}
.Home__container h1 {
    font-size: 2rem;
    color: white;
    margin-top: 20px;
}

.Home__left {
    margin-right: 30px;
}

.Home__right {
    margin-left: 30px;
}

.Home__container p {
    color: white;
    font-size: 1.3rem;
    max-width: 280px;
}